/* Global Styles */
body {
    font-family: "Cormorant Garamond", serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
}




